; .flake8

[flake8]
# Increase the max line length to allow longer lines if desired.
max-line-length = 90

# Optionally, you can ignore specific errors.
# If you want to ignore both line length and comment issues, use:
ignore = E501, E265

# Make sure to exclude your virtual environment
exclude =
    venv,
    .venv,
    __pycache__,
    */migrations/*

