# .pre-commit-config.yaml

repos:
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        language_version: python3
        exclude: micro_blogging\.py$
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: sync-index
        name: Synchronize Git index
        entry: git update-index --again
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]